.wrap

  .display-none.info{data: {"user-id": @user.id, "channel-id": @channel.id}}

  = @user.name
  = @channel.name
  = @workspace.name

  %br

  - @workspaces.each do |w|
    = w.name
    %br
    - w.channels.each do |c|
      = link_to c.name, channels_show_path(channel_id: c.id)
    %br

  %br

  .messages
    = render @messages
    -# - @messages.each do |m|
    -#
    -#   %br

%form
  %label Say something
  %input{type: "text", data: {behavior: "room_speaker"}}
